.active
  .ant-picker-calendar-full
  .ant-picker-panel
  .ant-picker-body
  th:nth-child(n+6) {
  color: red;
}
.active
  .ant-picker-calendar-full
  .ant-picker-panel
  .ant-picker-body
  td:nth-child(n+6) {
  color: red;
}
