#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.contain {
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  width: 500px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  z-index: 11;
}
.loginTitle {
  text-align: center;
  font-size: 30px;
  color: #fff;
  height: 80px;
  line-height: 80px;
}
.particles-bg-canvas-self {
  z-index: 10 !important;
}
